.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: var(--color-white);
}

.toggleText {
    cursor: pointer;
    color: var(--color-primary);
}

.cardsWrapper {
    /* margin-top: 18px; */
    padding: 30px 20px 0;
}

.wrapper {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.filterWrapper {
    margin-top: 15px;
}